---
layout: base
---

.hero-unit
  %img.pull-right{ :src=>"#{site.base_url}/images/antmascot.png" }
  %h1 Massive storage for your Cloud.
  %h4 GlusterFS is a networked, scalable filesystem capable of handling thousands of users
.row
  .span4 
    %h2 Scalable
    %p 72 brontobytes likely won't be enough for everyone, but it should do for a while. GlusterFS serves thousands of clients without a hitch.
    %p
      %a{ :href=>'http://www.gluster.org' } How big is your need? &raquo; 
  .span4
    %h2 Compatible
    %p Supports standard clients running standard applications over any standard IP network - using common off-the-shelf hardware.
    %p
      %a{ :href=>'http://www.gluster.org' } Technical details &raquo; 
  .span4
    %h2 Affordable
    %p Use commodity hardware off the shelf. GlusterFS runs on 64-bit x86 Linux, 
    %p
      %a{ :href=>'http://www.gluster.org' } See how you can too &raquo; 
%hr
.row
  .span3
    %button.btn-large.btn-primary#gluster-startbutton Get started on GlusterFS!
  .span8
    %p
      Duis ac consequat magna. Aenean consequat magna sodales nisi dapibus, sed semper mi sagittis. Morbi posuere, diam sit amet fermentum dictum, felis erat congue arcu, vel eleifend est erat scelerisque diam. Suspendisse consequat feugiat felis, eu fermentum lacus tincidunt ut. Suspendisse potenti. Duis eleifend urna vitae risus laoreet malesuada. Phasellus at convallis metus, a commodo massa. Nulla dapibus malesuada eleifend. Praesent non rhoncus elit, in molestie neque. Morbi id risus nunc. Sed fermentum metus at arcu lobortis, et gravida felis vehicula. Mauris at cursus diam. 
