// Gluster specific styling..

// this is the gluster logo
a.navbar-brand
  font-family: "Lato"
  font-weight: 900
  text-transform: uppercase
  color: white !important

.navbar
  border-bottom: none
  font-weight: 600

.blog #blognav, .documentation #documentationnav, .community #communitynav
  border-bottom: 3px solid rgb(171, 214, 59)
  padding-bottom: 8px

.jumbotron
  border-radius: 0
  background: transparent

  h1
    color: #002242
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4)

hr
  border: 0
  height: 1px
  background: rgba(0, 0, 0, 0.2)

#footer
  margin-top: 42px
  padding-top: 64px

.panel
  background: rgba(255,255,255,0.8)

.panel h3
  font-weight: 400

