---
layout: base
---

.hero-unit
  %h1 Meet the Community!
  %h4 We provide a variety of ways to communicate with and learn from the Gluster community.

.row
  .span4 
    %h2 IRC Chat
    %h4
      %a{ :href=>"irc://irc.gnu.org/#gluster" } #gluster channel on irc.gnu.org.
    %p Directly chat with the core developers and other Gluster experts on the IRC channel.
  .span4 
    %h2 User Mailing list
    %h4
      %a{ :href=>"http://www.gluster.org/mailman/admin/gluster-users" } Gluster Users
    %p General discussion about GlusterFS and related topics, by users and developers.
    %p
      %a{ :href=>"http://www.gluster.org/pipermail/gluster-users/" } &raquo; Archived past discussions
  .span4 
    %h2 Devel Mailing list
    %h4
      %a{ :href=>"http://www.gluster.org/mailman/admin/gluster-devel" } Gluster Devel
    %p More in-depth Gluster development discussion, by core Gluster developers
    %p
      %a{ :href=>"http://www.gluster.org/pipermail/gluster-devel/" } &raquo; Archived past discussions
.row
  .span4 
    %h2 Bug Tracker
    %h4
      %a{ :href=>"https://bugzilla.redhat.com/enter_bug.cgi?product=GlusterFS" } &raquo; Report a problem in Gluster
    %h4
      %a{ :href=>"https://bugzilla.redhat.com/enter_bug.cgi?product=Gluster-Documentation" } &raquo; Report a problem in Documentation
    %p
      %span Gluster uses the Red Hat Bugzilla for development and bug tracking. Gluster can be found in the 
      %a{ :href=>"https://bugzilla.redhat.com/enter_bug.cgi?classification=Community"} Community Projects
      %span section.
  .span4 
    %h2 Twitter
    %h4
      %a{ :href=>"http://twitter.com/glusterorg"} @glusterorg
    %p
      %span Gluster.org presence on Twitter is a great way to stay current with announcements and news.
  .span4 
    %h2 Gluster Meetups
    %p Find other Gluster users and developers near you!
    %p
      %a{ :href=>"http://www.meetup.com/GlusterFS/" } &raquo; Check for a local Gluster community!
