-# This is a plain, static bootstrap navbar written in haml.
-# By default it is inverted and goes on the top of the page.
.navbar.navbar-inverse.navbar-static-top
  .container
    .navbar-header
      %button.navbar-toggle( type="button" data-toggle="collapse" data-target=".navbar-collapse" )
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand( href="/" title="Home" ) Gluster
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          %a#aboutnav{ :href=>"http://www.gluster.org/documentation/About_Gluster/" } About
        %li
          %a#blognav{ :href=>"http://www.gluster.org/blog/" } Blog
        %li
          %a#documentationnav{ :href=>"/documentation/" } Documentation
        %li
          %a#communitynav{ :href=>"/community/" } Community
        %li
          %a#forgenav{ :href=>"http://forge.gluster.org" } Forge
