%h4 Documentation Index
%ul
  %li This index comes from
  %li a "partial" file in 
  %li _partials/documentation-index.html.haml
  %li It should contain some clever
  %li ruby script or something that
  %li populates the list from the
  %li available docs automatically
  %li based on page category or such...
