---
navigation: documentation
---

%h1 Get Your Gluster-Fu! <small>GlusterFS 3.4</small>
%p.lead 
  Take common hardware and turn it into scalable high performance storage solution. 
  You should have a look at the 
  %a( href="/architecture.html" ) Gluster Architecture and Concepts
  to get a good idea how it works &mdash; then go and build your own storage!

.row
  .col-md-6
    %h2 
      %a{ :href=>'quickstart/index.html' } Getting Started
    %p The Quickstart Guide will get you going! Starting from zero, we'll explain the system requirements and walk you through the installation and configuration. Once you have read through the Brief above and completed this document, you will have a basic understanding of the concepts and requirements, and your brand new Gluster is ready for use!

  .col-md-6
    %h2 Slides & Videos
    %p GlusterFS has been presented in various conferences and events, so there are plenty of useful introductory videos, hands-on tutorials and other presentations available. 

    %h4 
      %a{ :href=>'https://www.youtube.com/user/GlusterCommunity' } GlusterCommunity @YouTube &raquo;
    %h4 
      %a{ :href=>'http://www.slideshare.net/Gluster/presentations' } Presentations @SlideShare &raquo;
