=# this is the first spotlight column
%h2 
  = image_tag "/spotlight/picturemarketing.png", :class => "img-rounded img-responsive"
%p
  %b Louis Zuckerman enjoys excellent reliability,
  performance and scalability from GlusterFS with EC2.   
%p
  %a( href="TBD" ) Read more...
