%h2 
  = image_tag "/spotlight/cuttingedge.png", :class => "img-rounded img-responsive"
%p
  %b
    Daniel Mons chose GlusterFS
  to power Cutting Edge's video effects business. They wanted to boost their network storage capacity and performance for upcoming movie projects.
%p
  %a( href="TBD") Find out why...
