---
navigation: community
---

.hero-unit
  %h1 Downloads
  %h4=link_to "Latest", "http://download.gluster.org/pub/gluster/glusterfs/LATEST/", :target => "_blank" 
  %h4=link_to "Gluster 3.5", "http://download.gluster.org/pub/gluster/glusterfs/3.5/", :target => "_blank" 
  %h4=link_to "Gluster 3.4", "http://download.gluster.org/pub/gluster/glusterfs/3.4/", :target => "_blank" 
  %h4=link_to "Gluster Ubuntu PPA's", "https://launchpad.net/~semiosis", :target => "_blank" 
  %h4=link_to "Gluster Core (forge)", "https://forge.gluster.org/glusterfs-core/glusterfs", :target => "_blank" 
