// Import all the variables into the main css file.
@import "variables";

// I gather this file is a starting point for the project.
@import "bootstrap";

// Include responsive Bootstrap styles
@import "bootstrap-responsive";

// Gluster specific styling..

@import url(http://fonts.googleapis.com/css?family=Lato:900);

.navbar a.brand {
  font-family: "Lato";
  font-weight: 900 !important;
  text-transform: uppercase;
}

.hero-unit { 
  border-radius: 0; 
  background: transparent;
}

.hero-unit h1 {
   color: #002242;
   text-shadow: 0px 1px 5px rgba(0,0,0,0.3);
}

.navbar-inverse .navbar-inner {
  background: #111;
  background: linear-gradient(to bottom, rgba(15, 13, 16, 1) 0%, rgba(45, 48, 56, 1) 100%);
  font-weight: 400;
//  text-transform: uppercase;
}

hr {
  border: 0;
  height: 1px; 
  background: rgba(0,0,0,0.2); 
}

footer {
  color: #666;
  background: #171717;
  background: linear-gradient(to bottom, rgb(23,23,23) 0%,rgb(42,42,42) 100%); /* W3C */
  margin-top: 0px;
  padding-top: 21px;
  padding-bottom: 342px;
}

.antsmarching {
  background-image: url("https://forge.gluster.org/gluster-site/gluster-site/blobs/raw/master/_site/images/antsmarching.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 60px;
  margin-top: 30px;
}

#documentation #presentations {
  background: rgba(255,255,255,0.2);
}

h1 small {
  color: #666;
  text-shadow: none;
}

#documentation #documentationpage {
  padding-top: 0;
}

@media (max-width: 980px) {
  body#blog #blognav,
  body#documentation #documentationnav,
  body#community #communitynav,
  body#forge #forgenav {
    background: #000;
  }
}
@media (min-width: 980px) {
  .navbar-inner { border-bottom: 0; }
  body#blog #blognav,
  body#documentation #documentationnav,
  body#community #communitynav,
  body#forge #forgenav {
    border-bottom: 4px solid #abd63b;
    padding-bottom: 6px;
  }
}

@media (min-width: 767px) {
  footer, .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar {
    margin-left: 0;
    margin-right: 0;
  }
}

// responsive footer fix
@media (max-width: 767px) {
  .antsmarching { display: none }
  footer, .container, .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }
  .navbar {
    margin-left: 0;
    margin-right: 0;
  }
  body { 
    padding-left: 0;
    padding-right: 0;
  }
  .container#main {
    padding-left: 20px;
    padding-right: 20px;
  } 
}
 

