// Import all the variables into the main css file.
@import "variables";

// I gather this file is a starting point for the project.
@import "bootstrap";

// Include responsive Bootstrap styles
@import "bootstrap-responsive";

// Gluster specific styling..

@import url(http://fonts.googleapis.com/css?family=Lato:900);
.brand {
  font-family: "Lato";
  font-weight: 900;
  text-transform: uppercase;
}

.hero-unit { 
  border-radius: 0; 
  background: transparent;
}

.hero-unit h1 {
   color: #002242;
   text-shadow: 0px 2px 5px rgba(0,0,0,0.4);
}

// navbar styles. define classes for navbar links in 
// _layouts/base.html.haml and style them here.

.navbar-inverse .navbar-inner {
  background: #111;
  background: linear-gradient(to bottom, rgba(15,13,16,0.8) 0%, rgba(45,48,56,0.8) 100%); /* W3C */
  font-weight: 400;
}

hr {
  border: 0;
  height: 1px; 
  background: rgba(0,0,0,0.2); 
}

.navbar .blog {
// background: rgba(0,0,0,0.2);
}

.navbar .docs {
//  background: rgba(0,0,0,0.2);
}

.navbar .forge {
//  background: rgba(0,0,0,0.2);
}

footer {
  color: #444;
  background: #ccc;
  background: linear-gradient(to bottom, rgb(20,20,20) 0%,rgb(42,42,42) 100%); /* W3C */
  margin-top: 42px;
  padding-top: 21px;
  padding-bottom: 342px;
}
