// Import all the variables into the main css file.
@import "variables";

// I gather this file is a starting point for the project.
@import "bootstrap";

// Include responsive Bootstrap styles
@import "bootstrap-responsive";

// Gluster specific styling..

@import url(http://fonts.googleapis.com/css?family=Lato:900);

.navbar .brand {
  font-family: "Lato";
  font-weight: 900;
  text-transform: uppercase;
}

.hero-unit { 
  border-radius: 0; 
  background: transparent;
}

.hero-unit h1 {
   color: #002242;
   text-shadow: 0px 1px 5px rgba(0,0,0,0.3);
}

.navbar-inverse .navbar-inner {
  background: #111;
  background: linear-gradient(to bottom, rgba(15, 13, 16, 1) 0%, rgba(45, 48, 56, 1) 100%);
  font-weight: 400;
//  text-transform: uppercase;
}

hr {
  border: 0;
  height: 1px; 
  background: rgba(0,0,0,0.2); 
}

#documentation #presentations {
  background: rgba(255,255,255,0.2);
}

h1 small {
  color: #666;
  text-shadow: none;
}

#documentation #documentationpage {
  padding-top: 0;
}

@media (max-width: 980px) {
  body#blog #blognav,
  body#documentation #documentationnav,
  body#community #communitynav,
  body#forge #forgenav {
    background: #000;
  }
}
@media (min-width: 980px) {
  .navbar-inner { border-bottom: 0; }
  body#blog #blognav,
  body#documentation #documentationnav,
  body#community #communitynav,
  body#forge #forgenav {
    border-bottom: 4px solid #abd63b;
    padding-bottom: 6px;
  }
}

@media (min-width: 767px) {
  footer, .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar {
    margin-left: 0;
    margin-right: 0;
  }
}

/* sticky footer #wrap */
html, body { height: 100%;} 
#wrap { min-height: 100%; }
#main { 
  padding-top: 60px;
  overflow:auto;
  padding-bottom: 150px; }  /* must be same height as the footer */

#footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  color: #666;
  background-image: url("https://forge.gluster.org/gluster-site/gluster-site/blobs/raw/master/_site/images/footer-background.png"), url("https://forge.gluster.org/gluster-site/gluster-site/blobs/raw/master/_site/images/antsmarching.png");

  background-repeat: repeat-x, no-repeat;
  background-position: right top;
} 

#footer .container {
  padding-top: 70px;
}

/*Opera Fix*/
body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;
}

