---
navigation: community
---

.hero-unit
  %h1 Join the Community!
  %h4 We provide a variety of ways to communicate with and learn from the Gluster community.

.row
  .col-md-4
    %h2 Twitter
    .media
      =image_tag "interact-twitter.png", class: "pull-left"
      .media-body
        %p Our Twitter feed is a great way to stay current with announcements and news. Follow us and keep in touch!
        %h4=link_to "@glusterorg", "http://twitter.com/glusterorg"

  .col-md-4
    %h2 IRC Chat
    .media
      =image_tag "interact-irc.png", class: "pull-left"
      .media-body
        %p Directly chat with the core developers and other Gluster experts and users on the IRC channel. Since the chat happens in realtime, please be aware of timezones, as the community is pretty global.
        %h4.media-heading=link_to "#gluster channel on irc.gnu.org.", "irc://irc.gnu.org/#gluster"

  .col-md-4
    %h2 Mailing Lists
    .media
      =image_tag "interact-list-devel.png", class: "pull-left"
      .media-body
        %h4.media-heading=link_to "Gluster Users", "http://www.gluster.org/mailman/listinfo/gluster-users"
        %p General GlusterFS discussion by users and developers.

        %h4=link_to "Gluster Devel", "http://www.gluster.org/mailman/listinfo/gluster-devel"
        %p More in-depth Gluster development discussion, by core Gluster developers.


.row
  .col-md-4
    %h2 Developer Forge
    .media
      =image_tag "interact-forge.png", class: "pull-left"
      .media-body
        %h4=link_to "GlusterForge", "http://forge.cluster.org"
        %p GlusterFS and related projects have their git repositories and other resources on Gluster Forge. Check out what's happening around GlusterFS!

  .col-md-4
    %h2 Bugs
    .media
      =image_tag "interact-bugzilla.png", class: "pull-left"
      .media-body
        %p
          Gluster uses the Red Hat Bugzilla for development and bug tracking. Gluster can be found in the
          =link_to "Community Projects", "https://bugzilla.redhat.com/enter_bug.cgi?classification=Community"
          section.

        %h4=link_to "&raquo; Report a problem in Gluster", "https://bugzilla.redhat.com/enter_bug.cgi?product=GlusterFS"
        %h4=link_to "&raquo; Report a problem in Documentation", "https://bugzilla.redhat.com/enter_bug.cgi?product=Gluster-Documentation"

  .col-md-4
    %h2 Gluster Meetups
    .media
      =image_tag "interact-meetup.png", class: "pull-left"
      .media-body
        %p Find other Gluster users and developers near you!
        %p=link_to "&raquo; Check for a local Gluster community!", "http://www.meetup.com/GlusterFS/"
