---
navigation: home
title: Write once, read anywhere 
no_container: true
---

.container
  .jumbotron
    = image_tag "antmascot.png", :class => "pull-right"
    %h1 Write once, read anywhere
    %p Welcome to Gluster.org, home of GlusterFS and related distributed data projects. GlusterFS is a unified, poly-protocol, scale-out filesystem serving many PBs of data.
    %em 
      %a{ :href=>"/documentation/quickstart/index.html" } &raquo; Quick Start  
    %em
      %a{ :href=>"/download/index.html" } &nbsp; &raquo; Download
    %em
      %a{ :href=>"/documentation/index.html" } &nbsp; &raquo; Docs 
    %em
      %a{ :href=>"https://bugzilla.redhat.com/page.cgi?id=browse.html&tab=&product=GlusterFS&bug_status=all" } &nbsp; &raquo; Bugs 
    %em
      %a{ :href=>"/community/governance/index.html" } &nbsp; &raquo; Governance

.details
  .container
    .row
      .col-md-4 
        %h2 
          %a{ :href=>"http://www.gluster.org/blog" } Planet Gluster  
        %p 
          Gluster serves thousands of clients on streaming media, cloud computing and other large installations. Read how they do it and how you can do it, too. 
        %p
          %a{ :href=>"http://www.gluster.org/blog" } &raquo; Planet Gluster Blog 
      .col-md-4
        %h2 
          %a{ :href=>"https://forge.gluster.org/" } Our Ecosystem
        %p 
          The Gluster community is home to many open source projects that extend or are complementary to GlusterFS. Download software or start a project. 
        %p
          %a{ :href=>"https://forge.gluster.org/" } &raquo; Gluster Forge
      .col-md-4
        %h2 
          %a{ :href=>"/community/index.html" } Our Community 
        %p 
          Gluster is developed and used by a global community. People just like you contribute to the development and discussion. Join us!
        %p
          %a{ :href=>"/community/index.html" } &raquo; Get involved!

=# this is the spotlight section! Edit _spotlight1.haml and _spotlight2.haml to change the content
.spotlight
  .container
    .row
      .col-md-4
        %h2.logo Spotlight
        %p GlusterFS is being used all over the world. We've collected some exciting testimonials from satisfied users and thrown in some other interesting facts and news in the mix: enter the Gluster Spotlight!
      .col-md-4
        =partial "spotlight/spotlight1"
      .col-md-4
        =partial "spotlight/spotlight2"

%section.recent-feeds.container
  .row
    %section.recent-blog.col-sm-4
      %h2 From the blog
      = simple_feed_list "http://www.gluster.org/blog/feed/", 6, "author"

    %section.recent-forge.col-sm-4
      %h2 Forge activity
      = simple_feed_list "https://forge.gluster.org/projects.atom", 6

    %section.recent-bugs.col-sm-4
      %h2 Recent bugs
      = simple_feed_list "https://bugzilla.redhat.com/buglist.cgi?product=GlusterFS&query_format=advanced&title=Bug%20List&ctype=atom", 4
