---
navigation: home
title: Write once, read anywhere
no_container: true
---

%section.intro.container
  .jumbotron
    =image_tag "antmascot.png", class: "pull-right"

    %h1 Write once, read anywhere
    %p Welcome to Gluster.org, home of GlusterFS and related distributed data projects. GlusterFS is a unified, poly-protocol, scale-out filesystem serving many PBs of data.

    %em=link_to "&raquo; Quick Start", "/documentation/quickstart/"
    %em=link_to "&raquo; Download", "/download/"
    %em=link_to "&raquo; Docs", "/documentation/"
    %em=link_to "&raquo; Bugs", "https://bugzilla.redhat.com/page.cgi?id=browse.html&tab=&product=GlusterFS&bug_status=all"
    %em=link_to "&raquo; Governance", "/community/governance/"


%section.details.container
  .row
    .col-md-4
      %h2=link_to "Planet Gluster", "/blog/"
      %p Gluster serves thousands of clients on streaming media, cloud computing and other large installations. Read how they do it and how you can do it, too.
      %p=link_to " &raquo; Planet Gluster Blog", "/blog/"

    .col-md-4
      %h2
        =link_to "Our Ecosystem", "https://forge.gluster.org/"
      %p The Gluster community is home to many open source projects that extend or are complementary to GlusterFS. Download software or start a project.
      %p=link_to " &raquo; Gluster Forge", "https://forge.gluster.org/"

    .col-md-4
      %h2=link_to "Our Community", "/community/"
      %p Gluster is developed and used by a global community. People just like you contribute to the development and discussion. Join us!
      %p=link_to " &raquo; Get involved!", "/community/"


=# this is the spotlight section! Edit _spotlight1.haml and _spotlight2.haml to change the content
%section.spotlight.container
  .row
    .col-md-4
      %h2.logo Spotlight
      %p GlusterFS is being used all over the world. We've collected some exciting testimonials from satisfied users and thrown in some other interesting facts and news in the mix: enter the Gluster Spotlight!

    .col-md-4=partial "spotlight/spotlight1"
    .col-md-4=partial "spotlight/spotlight2"
