---
navigation: home
title: Write once, access anywhere 
---

.jumbotron
  = image_tag "antmascot.png", :class => "pull-right"

  %h1 Write once, access anywhere
  %h4 Welcome to the Gluster Community, the home of GlusterFS and related open source data storage and management projects. GlusterFS is a unified, scale-out filesystem that can serve up data simultaneously over many different protocols (SMB, NFS, GlusterFS, Swift, QEMU, Cinder, iSCSI, and more). It takes advantage of commodity, off-the-shelf hardware and was made for open source platforms, making it cost-efficient and flexible.

.clearfix

.row
  .col-md-4 
    %h2 
      %a{ :href=>"/documentation/architecture/index.html#performance_link" } Get It, Run It, Scale It 
    %p Gluster serves thousands of clients on streaming media, cloud computing and other large installations. 72 brontobytes likely won't be enough for everyone, but it should do for a while. 
    %p
      %a{ :href=>"/documentation/architecture/index.html#performance_link" } &raquo; Performance Hilights
  .col-md-4
    %h2 
      %a{ :href=>"/documentation/architecture/index.html#requirements_link" } Standard
    %p Hook up Windows, Mac and Linux users as well as servers running common applications over any standard IP network. Gluster runs on 64-bit x86 Linux, which supports a wide range of hardware off the shelf. Get started easily and expand as your needs grow.
    %p
      %a{ :href=>"/documentation/architecture/index.html#requirements_link" } &raquo; System and Hardware Requirements
  .col-md-4
    %h2 
      %a{ :href=>"/community/index.html" } Our Community 
    %p Gluster is being developed and used by a community of people and organizations like you. There are also a lot of Gluster users around the world who contribute to the development and discussion. Help us get even better!
    %p
      %a{ :href=>"/community/index.html" } &raquo; Get involved!

.jumbotron
  %h2.text-center
    %a{ :href=>"/documentation/quickstart/index.html" } Get started! Read the Quick Start Guide!
