---
layout: base
navigation: documentation
---

.hero-unit
  %h1 Documentation
  %p Get started with GlusterFS
.row
  .span4
    %h2 Scalable
    %p GlusterFS scales up to 72 brontobytes. We won't say it should be enough, but it should do for a while. It also serves thousands of clients without a hitch.
    %p
      %a{ :href=>'http://www.gluster.org' } How big is your need? &raquo; 
  .span4
    %h2 Affordable
    %p Use commodity hardware off the shelf. GlusterFS runs on 64-bit x86 Linux, 
    %p
      %a{ :href=>'http://www.gluster.org' } See how you can too &raquo; 
  .span4
    %h2 Compatible
    %p Supports standard clients running standard applications over any standard IP network - using common off-the-shelf hardware.
    %p
      %a{ :href=>'http://www.gluster.org' } Technical details &raquo; 

