---
layout: base
navigation: documentation
---

#presentations.well-large.pull-right.span3
  .text-center
    %img{ :src=>"#{site.base_url}/images/documentation.png" }
  %h2 Slides & Videos
  %p GlusterFS has been presented in various conferences and events, so there are plenty of useful introductory videos, hands-on tutorials and other presentations available. 

  %h4 
    %a{ :href=>'https://www.youtube.com/user/GlusterCommunity' } GlusterCommunity @YouTube &raquo;
  %h4 
    %a{ :href=>'http://www.slideshare.net/Gluster/presentations' } Presentations @SlideShare &raquo;

%h1 Documentation <small>GlusterFS 3.4</small>
%p.lead Take common hardware and turn it into scalable high performance storage solution. You'll need at least two 64 bit X86 computers to get started, or two virtual machines with 1 GB of memory dedicated to each, should you wish to test the concepts first.

%h2 Getting Started
%dl
  %dt
    %a{ :href=>'quickstart' } QuickStart Guide
  %dd Begin here if you are new to GlusterFS. Starting from zero, we'll explain the system requirements and walk you through the installation and configuration. Once completed, you will have a basic understanding of the concepts and requirements, and your brand new Gluster is ready for use!
  %dt
    %a{ :href=>'getting_started' } Getting Started
  %dd Longer series of documents designed to give you a firm grounding in the world of GlusterFS
  %dt
    %a{ :href=>'' } GlusterFS Concepts
  %dd What is this GlusterFS thing? How does it work? This living document attempts to explain.
  %dt
    %a{ :href=>'' } Basic Gluster Troubleshooting
  %dd Gluster troubleshooting, 20 questions style!
  %dt
    %a{ :href=>'' } HOWTO Guides
  %dd Practical walkthrough documentation focusing on various topics.


